<ul>
  <li class="icon"><%= image_tag 'icons/facebook.png' %></li>
  <li class="icon"><%= image_tag 'icons/twitter.png' %></li>
  <li class="icon"><%= image_tag 'icons/linkedin.png' %></li>
  <li class="icon"><%= image_tag 'icons/xing.png' %></li>
</ul>